<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <title>教材帮弹幕开启啦</title>
  <link rel="stylesheet" href="css/txjy_base.css">
  <style>
    html, body {
      height: 100%;
    }
  </style>
</head>

<body class="bg_body">

<!--内容-->
<article class="bulletBox">
  <div class="J_bulContent">
    <ul class="J_bulList">
    </ul>
  </div>
</article>


<!--底部-->
<figure class="footnav">
  <div class="search">
    <div class="" style="position: absolute; z-index: 99999; left: 5px; bottom: 1px;">
      <img src="image/jcb.png"/>
    </div>
    <div class="search_input J_bulCtrl">
      <ul>
        <li class="wb7"><input type="text" name="f_text" value="" maxlength="20" placeholder="输入文字..."></li>
        <li class="wb3 text_r">
          <button type="button" class="send">发弹幕</button>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</figure>

<!--bullet 模板-->
<script type="text/html" id="tpl_bulletItem">
  {% for (var i = 0;i< o.length; i++) { %}
  <li data-lid="{%=o[i].id%}">
    <div class="portrait left"><img src="image/{%=(o[i].myAva || setAvatar())%}"></div>
    <a class="J_like"><b>{%=o[i].vnum%}</b></a>
    <span style="font-size:{%=o[i]['fontSize'] %};color:{%=(o[i].vnum > 30 ? 'red' : (o[i].vnum < 30 && o[i].vnum > 1) ? '#ff9316' : o[i]['color']) %}">{%=o[i].text %}</span>
  </li>
  {% } %}
</script>
<script type="text/html" id="tpl_bullet">
  <div class="J_bulContent">
    <ul class="J_bulList">
      {% include('tpl_bulletItem',o); %}
    </ul>
    <!--<div class="J_bulCtrl">-->
    <!--<label>时间：-->
    <!--<select name="f_time">-->
    <!--<option value="1">1秒</option>-->
    <!--<option value="3">3秒</option>-->
    <!--<option value="5" selected>5秒</option>-->
    <!--<option value="7">7秒</option>-->
    <!--<option value="9">9秒</option>-->
    <!--<option value="12">12秒</option>-->
    <!--</select>-->
    <!--</label>-->
    <!--<label>字号：-->
    <!--<select name="f_size">-->
    <!--<option value="12px">12px</option>-->
    <!--<option value="14px">14px</option>-->
    <!--<option value="16px" selected>16px</option>-->
    <!--<option value="20px">20px</option>-->
    <!--<option value="20px">24px</option>-->
    <!--<option value="20px">30px</option>-->
    <!--</select>-->
    <!--</label>-->
    <!--<span class="color-list">-->
    <!--<label><input type="radio" name="f_color" checked value="red"><b class="b_color"-->
    <!--style="background-color:red;"></b></label>-->
    <!--<label><input type="radio" name="f_color" value="green"><b class="b_color"-->
    <!--style="background-color:green;"></b></label>-->
    <!--<label><input type="radio" name="f_color" value="orange"><b class="b_color" style="background-color:orange;"></b></label>-->
    <!--<label><input type="radio" name="f_color" value="blue"><b class="b_color"-->
    <!--style="background-color:blue;"></b></label>-->
    <!--<label><input type="radio" name="f_color" value="purple"><b class="b_color" style="background-color:purple;"></b></label>-->
    <!--</span>-->
    <!--<input type="text" name="f_text" value="" placeholder="请输入文字">-->
    <!--<a href="javascript:" class="send">发送</a>-->
    <!--</div>-->
  </div>
</script>

<!--bullet 模板-end-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-JavaScript-Templates/3.11.0/js/tmpl.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/main-min.js"></script>
<script>
	(function (win) {

		/*var data = [{
			text: '复习这么复习复习这么复习。',
			like: 1
		}, {
			text: '复习规划及方法、复材分复材分科汇总！',
			like: 30
		}, {
			text: '揣摩每个知识点，弄清每一个原理99！'
		}];*/


		/*用户头像*/
		win.Avatar = [
			'icox01.png',
			'icox02.png',
			'icox03.png',
			'icox04.png',
			'icox05.png',
			'icox06.png',
			'icox07.png',
			'icox08.png',
			'icox09.png',
			'icox010.png',
			'icox011.png',
			'icox012.png',
			'icox013.png',
			'icox014.png',
			'icox015.png',
			'icox016.png',
			'icox017.png',
			'icox018.png'
		];

		win.setAvatar = function () {
			return Avatar[parseInt(Avatar.length * Math.random())]
		}

		var myAvatar = setAvatar();

		/*获取数据*/
		var getDefaults = function (cb) {
			$.get(url + 'action=search', function (data) {
				console.log(data)
				cb(data)
			}, 'json')
		};

		var url = 'http://192.168.4.106:8080/marketing.php?m=barrage&tid=1&';


		/*初始化弹幕*/
		var bul = bul = new Bullet($(".bulletBox"), [], {
			itemTpl: 'tpl_bulletItem',
			config: {
				color: '#FFF',
				fontSize: '18px',
				time: '10'
			}
		});

		/*首次加载获取一次弹幕*/
		getDefaults(function (data) {
			bul.addBul(data)
		})

    /*轮询最新弹幕*/
		setInterval(function () {
			getDefaults(function (data) {
				bul.addBul(data)
			})
		}, 4000)

    /*发送弹幕*/
		var $input = $('.J_bulCtrl').find('[name="f_text"]');
		function sendBul () {
			var myData = bul.getBullet();
			var _text = $input.val();
			if (_text != null && _text !== '') {
				$.post(url + '&action=add', myData, function (data) {
					console.log(data);
					if (data.code === '1') {
						$input.val('');
						myData.myAva = myAvatar;
						myData.id = data.id;
						bul.addBul(myData);
					}
				}, 'json');
			}
		}

		$('.J_bulCtrl').on('click', '.send', function () {
			sendBul();
		});

		$(document).on('keyup', function (e) {
			var _isFocus = $input.is(':focus');
			if (_isFocus) {
				$input.val($input.val().substr(0,20))
      }
			if (e.keyCode === 13 && _isFocus) {
				sendBul();
			}
		});

		/*点赞*/
		$(document).on('click', '.J_bulList li', function () {
			var $this = $(this);
			$.post(url + 'action=click&id=' + $(this).data('lid'), function (data) {
				if (data.code === '1') {
					console.log(data);
					var _$b = $this.find(".J_like").find('b');
					_$b.text(parseInt((_$b.text() || '0')) + 1)
					$this.addClass('J_dianzhanEffect').find();
					setTimeout(function () {
						$this.removeClass('J_dianzhanEffect');
					},400)
        }
			}, 'json')
		})
	})(window);

</script>
</body>
</html>